<html>
{% extends 'busbookapp/base1.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready( function () {
        $('#mytable').DataTable();

    } );
    </script>

</head>
<body>

<h1 >
    Driver Details
</h1>
<table id="mytable" class="datatable" cellspacing="1" cellpadding="1" border="1" bgcolor="lightblue">
    <thead>
        <tr class="dt-control" style="color:black">

            <th class="sorting_1"> Driver name</th>
            <th> age</th>
            <th> Contact Number</th>
            <th> Bus Number</th>
            <th> options</th>


        </tr>
    </thead>
    <tbody>

        <tr style="color:black">
            {% if emp_list %}
            {% for template in emp_list %}
            <td style="color:black">{{template.drivername}}</td>
            <td style="color:black">{{template.age}}</td>
            <td style="color:black">{{template.contact_no}}</td>
            <td style="color:black">{{template.bus_no}}</td>
            <td style="color:black"><a href="/update/{{template.id}}"> update </a> &nbsp; &nbsp;  <a href ="/delete/{{template.id}}"> Delete</a> </td>

        </tr>

    </tbody>
      {% endfor %}
      {% endif %}
</table>
<p >
    <a   href = "/create" >  <button  type="button" >  Add drivers details</button>  </a>
        </p>
<!--    <p align="right">-->
<!--    <a   href = "/consumerdisplay" >  <button  type="button" >  nextpage</button>  </a>-->
<!--        </p>-->
</body>
{% endblock %}
</html>